{% extends "member/base.html" %}

{% block title %}
Inscription réussie
{% endblock %}

{% block headline %}
Inscription réussie
{% endblock %}

{% block breadcrumb %}
Inscription
{% endblock %}

{% block content %}

<p>
Vous avez bien été inscrit au site. <a href="{% url pdp.member.views.details user.username %}">Voir votre profil</a>.
</p>

{% endblock %}
