{% extends "member/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    S'incrire
{% endblock %}

{% block headline %}
    S'inscrire
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">S'inscrire</a></li>
{% endblock %}

{% block content %}
    
<div class="row">
    <div class="large-12">
        {% if not user.is_authenticated %}
            {% if error %}
                {{ error }}
            {% endif %}
            <p>
                <strong>Vous êtes sur le point de vous inscrire sur Progdupeupl</strong> ; si vous
                possédez déjà un compte, merci de <a href="{% url pdp.member.views.login_view %}">vous connecter</a>
                à la place.
            </p>
            <p>
                Veuillez fournir les informations nécessaires dans le
                formulaire suivant afin de poursuivre votre inscription.
            </p>
            {% crispy form %}
        {% else %}
            <p>Vous êtes déjà connecté.</p>
        {% endif %}
    </div>
</div>

{% endblock %}
