/* CSS classes related to the cssstyles markdown extension */

a.hidden-link-show, div.hidden-block:not(:target) a.hidden-link-show {
    display: inline;
}

a.hidden-link-hide, div.hidden-block:not(:target) a.hidden-link-hide {
    display: none;
}

div.hidden-block:target > a.hidden-link-show {
    display: none;
}

div.hidden-block:target > a.hidden-link-hide {
    display: inline;
}

div.hidden-block p, div.hidden-block table, div.hidden-block ul, div.hidden-block ol {
    display: none;
}

div.hidden-block:target p, div.hidden-block:target table, div.hidden-block:target ul, div.hidden-block:target ol {
    display: block;
}

a.hidden-link-show, a.hidden-link-hide {
    font-size: emCalc(14px);
}