.forum-entries {
    margin-bottom: emCalc(32px);   
}

.forum-entries.forum-entries-sticky {
    .forum-entry {
        background: lighten(rgb(167, 223, 241), 16%);
    }
}

.forum-entry {
    @include grid-row();
    padding-top: emCalc(5px);
    padding-bottom: emCalc(5px);
    
    /* Common rules */
    .forum-entry-title {
        @include grid-column(6);
        
        min-height: emCalc(29px); /* 24 + 5 */
        padding-left: emCalc(64px);
        
        background-position: emCalc(24px) emCalc(5px);
        background-repeat: no-repeat;
        
        p {
            margin: 0;
            padding: 0;
        }
        
        background-image: url("../img/forums-normal.png");
    }
    
    .forum-entry-title.unread {
        background-image: url("../img/forums-unread.png");
    }
    
    .forum-entry-count {
        @include grid-column(1);
        @extend .hide-for-small;
        text-align: center;
        
        span {
            width: 100%;
            display: block;
        }
    }
    
    .forum-entry-desc {
        @include grid-column(5, true);
        @extend .hide-for-small;
        //line-height: emCalc(14px);
        
        p {
            margin: 0;
            padding: 0;
        }
    }
}

.forum-entry-locked {
    background-color: lighten(rgb(241, 206, 171), 14%);
}

.forum-entry-solved {
    background-color: lighten(rgb(213, 236, 191), 10%);
}

.before {
    opacity: 0.6;
}

.post-head {
    margin-top: emCalc(10px);
    margin-bottom: emCalc(10px);
    
    background-color: rgb(245, 245, 245);
    border-top: 1px solid rgb(221, 221, 221);
    
    padding: 3px;
    
    p {
        padding: 0;
        margin: 0;
    }
}
