<h2>
    Formattage de base
</h2>



<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Vous tapez</th>
            <th>Vous voyez</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Italique</td>
            <td><code>*texte*</code> ou <code>_texte_</code></td>
            <td><i>texte</i></td>
        </tr><tr>
            <td>Gras</td>
            <td><code>**texte**</code> ou <code>__texte__</code></td>
            <td><b>texte</b></td>
        </tr><tr>
            <td>Lien</td>
            <td><code>[ce site est génial](http://progdupeu.pl/)</code></td>
            <td><a href="http://progdupeu.pl/">ce site est génial</a></td>
        </tr><tr>
            <td>Lien brut</td>
            <td><code>&lt;http://progdupeu.pl/&gt;</code></td>
            <td><a href="http://progdupeu.pl/">http://progdupeu.pl/</a></td>
        </tr><tr>
            <td>Image</td>
            <td><code>![Texte alternatif](http://placehold.it/64x64)</code></td>
            <td><img alt="Texte alternatif" src="http://placehold.it/64x64" /></td>
        </tr>
        <tr>
            <td>Listes</td>
            <td>
<pre>
␣* Puce 1
␣␣␣␣* Puce 1.1
␣␣␣␣* Puce 1.2
␣* Puce 2</pre>
            </td>
            <td>
                <ul>
                    <li>Puce 1
                        <ul>
                            <li>Puce 1.1</li>
                            <li>Puce 1.2</li>
                        </ul>
                    </li>
                    <li>Puce 2</li>
                </ul>
            </td>
            </tr><tr>
            <td>Citation</td>
            <td>
<pre>
&gt; Texte à citer.
</pre>
            </td>
            <td>
                <blockquote><p>Texte à citer.</p></blockquote>
            </td>
        </tr><tr>
            <td>Abrévitations</td>
            <td>
<pre>
Ce site utilise HTML et CSS.

*[HTML]: Hyper Text Markup Language
*[CSS]: Cascading Style Sheets</pre>
            </td>
            <td>
                <p>Ce site utilise <abbr title="Hyper Text Markup Language">HTML</abbr> et <abbr title="Cascading Style Sheets">CSS</abbr>.</p> 
            </td>
        </tr>
    </tbody>
</table>

<h2>
    Code
</h2>
        
<table>
    <thead>
        <tr>
            <th>Description</th>
            <th style="width: 30%;">Vous tapez</th>
            <th>Vous voyez</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Code inline</td>
            <td><code>`texte`</code></td>
            <td><code>texte</code></td>
        </tr><tr>
            <td>Bloc de code</td>
            <td>
<pre>
```python
from os import path
```</pre>
            <p>ou</p>
<pre>
␣␣␣␣:::python
␣␣␣␣from os import path</pre>
            </td>
            <td>
                <table class="codehilitetable"><tr><td class="linenos"><div class="linenodiv"><pre>1</pre></div></td><td class="code"><div class="codehilite"><pre><span class="kn">from</span> <span class="nn">os</span> <span class="kn">import</span> <span class="n">path</span>
</pre></div></td></tr></table>
            </td>
        </tr>
    </tbody>
</table>

<h2>
    Extensions
</h2>

<table>
    <thead>
        <tr>
            <th>Description</th>
            <th>Vous tapez</th>
            <th>Vous voyez</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Bloc secret</td>
            <td>
<pre>
[secret]{
    Mon précieux
}</pre>
            </td>
            <td>
                <p>Mon précieux</p>
            </td>
        </tr><tr>
            <td>Bloc flottant</td>
            <td>
<pre>
[droite]{
    À tribord toute
}</pre>
            </td>
            <td>
                <p>
                    À tribord toute
                </p>
            </td>
        </tr>
    </tbody>
</table>