{% extends "pages/base.html" %}

{% block title %}
    Pages
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block headline %}
    Pages
{% endblock %}

{% block content %}
    
<div class="row">
    <div class="large-12 columns">
        <a href="{% url pdp.pages.views.help_markdown %}">Documentation de Markdwon et des différentes extensions</a>
    </div>
</div>

{% endblock %}
