{% extends "base.html" %}

{% block title_base %}
    &#183; Tutoriels
{% endblock %}

{% block breadcrumb_base %}
    <li><a href="{% url pdp.tutorial.views.index %}">Tutoriels</a></li>
{% endblock %}

{% block menu_tutorial %}
    class="active"
{% endblock %}
