{% extends "tutorial/base.html" %}

{% block title %}
    Liste des tutoriels
{% endblock %}

{% block meta %}
    <meta name="description" content="Les tutoriels vous permettent d'apprendre
    sur divers sujets axés autour de la programmation et de l'informatique." />
{% endblock %}

{% block header %}
    <h1>Tutoriels</h1>
    <p>
        Les tutoriels vous permettent <strong>d'apprendre</strong> sur divers sujets axés autour de la programmation et de l'informatique.
    </p>
{% endblock %}

{% block headline %}
    Liste des tutoriels
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block headline-actions %}
    <div class="button-group">
        <a href="#" class="button secondary dropdown" data-dropdown="tutorials-drop-feeds">
            Flux
        </a><br />
        {% include "tutorial/feeds.part.html" %}
        {% if user.is_authenticated %}
            <a href="/tutoriels/nouveau/tutoriel" class="button">
                Nouveau tutoriel
            </a>
        {% endif %}
    </div>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-6 columns">
        <h2>À la une</h2>
        {% if tutorials %}
            <div class="tutorial-items">
            {% for tutorial in tutorials %}
                {% include "tutorial/tutorial_item_common.part.html" %}
            {% endfor %}
            </div>
        {% else %}
            <p>Aucun tutoriel disponible.</p>
        {% endif %}
    </div>
    <div class="large-6 columns">
        {% if user.is_authenticated %}
            <h2>Vos tutoriels</h2>
            {% if not user_tutorials %}
                <p>Vous n'avez encore rédigé aucun tutoriel.</p>
            {% else %}
                <div class="tutorial-items">
                {% for tutorial in user_tutorials %}
                    {% include "tutorial/tutorial_item_common.part.html" %}
                {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>

{% endblock %}
