{% extends "tutorial/base.html" %}
{% load markup %}

{% block title %}
{{ chapter.title }} ({{ chapter.part.tutorial.title }})
{% endblock %}

{% block headline %}
{{ chapter.title }}
{% endblock %}

{% block headline-actions %}
    {% if user in chapter.part.tutorial.authors.all or user in chapter.tutorial.authors.all %}
        <form action="{% url pdp.tutorial.views.modify_chapter %}" method="POST">
            <div class="button-group">        
                <a href="/tutoriels/editer/chapitre?chapitre={{ chapter.pk }}" class="button">
                    Éditer
                </a>
                {% if chapter.part %}
                    <a href="#" class="button secondary">
                        Déplacer
                    </a>
                    <button type="submit" name="delete" class="button secondary">
                        Supprimer
                    </button>
                {% endif %}
            </div>
        
            <input type="hidden" name="chapter" value="{{ chapter.pk }}" />
            {% csrf_token %}
        </form>
    {% endif %}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ chapter.part.tutorial.get_absolute_url }}">{{ chapter.part.tutorial.title }}</a></li>
    <li><a href="{{ chapter.part.get_absolute_url }}">{{ chapter.part.title }}</a></li>
    <li class="current"><a href="#">{{ chapter.title }}</a></li>
{% endblock %}

{% block content %}

{% with tutorial=chapter.get_tutorial %}
    {% with authors=tutorial.authors.all %}
        {% include "tutorial/view_chapter_pager.html" %}
        {% include "tutorial/view_chapter_common.part.html" %}
        {% include "tutorial/view_chapter_pager.html" %}
    {% endwith %}
{% endwith %}

{% endblock %}
