{% extends "base.html" %}

{% block title %}
    Erreur 404
{% endblock %}

{% block headline %}
    Erreur 404
{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Accueil</a> <span class="divider">/</span></li>
    <li class="active">Erreur 404</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <p>Il semblerait que ce que vous cherchiez ne se trouve plus ici.</p>
    </div>
</div>
{% endblock %}
