{% extends "base.html" %}

{% block title %}
    Erreur 500
{% endblock %}

{% block headline %}
    Erreur 500
{% endblock %}

{% block breadcrumb %}
    <li><a href="/">Accueil</a> <span class="divider">/</span></li>
    <li class="active">Erreur 500</li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <p>
            Si vous voyez cette page, c'est que vous avez trouvé un bug. Merci
            de reporter cette erreur en expliquant comment vous avez procédé
            pour tomber sur cette page.
        </p>
    </div>
</div>
{% endblock %}
