﻿{% load staticfiles %}
{% load profile %}
{% load interventions %}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr">
<head>
    <title>{% block title %}Sans nom{% endblock %}{% block title_base %}{% endblock %} &#183; Progdupeupl</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />

    {% block meta %}{% endblock %}

    <link rel="stylesheet" href="{% static "css/progdupeupl.css" %}" />

    <script src="{% static "js/vendor/custom.modernizr.js" %}"></script>

    <link rel="shortcut icon" type="image/png" href="{% static "img/favicon.png" %}">

</head>
<body>

    <nav class="top-bar">
        <ul class="title-area">
            <li class="name">
                <h1><a href="/">Progdupeupl</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">

            {# Theses menu_* blocks are set or not in applications derived base.html #}
            {# in order to set the menu entry active or not. #}

            <ul class="left">
                <li {% block menu_home %}{% endblock %}>
                    <a href="{% url pdp.pages.views.home %}">Accueil</a>
                </li>
                <li {% block menu_article %}{% endblock %}>
                    <a href="{% url pdp.article.views.index %}">Articles</a>
                </li>
                <li {% block menu_tutorial %}{% endblock %}>
                    <a href="{% url pdp.tutorial.views.index %}">Tutoriels</a>
                </li>
                <li {% block menu_forum %}{% endblock %}>
                    <a href="{% url pdp.forum.views.index %}">Forums</a>
                </li>
            </ul>

            <ul class="right">
                {% if user.is_authenticated %}
                    {% with topics=user|interventions_topics %}
                        {% with unread_topics=topics.unread %}
                            <li class="has-dropdown">
                                <a href="#">
                                    {% if unread_topics|length > 0 %}
                                        <span class="label alert">{{ unread_topics|length }}</span>
                                    {% endif %}
                                    Sujets suivis
                                </a>
                                <ul class="dropdown">
                                    {% with read_topics=topics.read %}
                                        {# Unread topics #}
                                        {% for topic in unread_topics %}
                                            <li>
                                                <a href="{{ topic.last_read_post.get_absolute_url }}">
                                                    <span class="label">!</span>
                                                    <strong>
                                                        {{ topic.title }}
                                                    </strong>
                                                </a>
                                            </li>
                                        {% endfor %}
                                        {# Read topics #}
                                        {% for topic in read_topics %}
                                            <li>
                                                {% with last_answer=topic.get_last_answer %}
                                                    <a href="
                                                        {% if last_answer %}
                                                            {{ last_answer.get_absolute_url }}
                                                        {% else %}
                                                            {{ topic.first_post.get_absolute_url }}
                                                        {% endif %}">
                                                        {{ topic.title }}
                                                    </a>
                                                {% endwith %}
                                            </li>
                                        {% endfor %}
                                        {% if topics_read|length == 0 and topics_unread|length == 0 %}
                                            <li class="disabled">
                                                <a href="javascript:;">Aucun sujet suivi</a>
                                            </li>
                                        {% endif %}
                                {% endwith %}
                            {% endwith %}
                        {% endwith %}
                    </ul>
                </li>
                <li class="has-dropdown">
                    {% with profile=user|profile %}
                        <a href="#">
                            <img src="{{ profile.get_avatar_url }}" alt="Avatar" width="24" height="24" />
                            {{ user.username }}
                        </a>
                    {% endwith %}
                    <ul class="dropdown">
                        <li><a href="{{ user.get_absolute_url }}">Profil</a></li>
                        <li><a href="{% url pdp.member.views.settings_profile %}">Paramètres</a></li>
                        <li><a href="{% url pdp.member.views.logout_view %}">Se déconnecter</a></li>
                    </ul>
                </li>
                {% else %}
                <li>
                    <a href="{% url pdp.member.views.register_view %}">S'inscrire</a>
                </li>
                <li>
                    <a href="{% url pdp.member.views.login_view %}">Se connecter</a>
                </li>
                {% endif %}
            </ul>
        </section>
    </nav>

    <header>
        <div class="row">
            <div class="twelve columns">
                {% block header %}{% endblock %}
            </div>
        </div>
    </header>

    <div class="row">
        <div class="large-12 columns">
            <ul class="breadcrumbs">
                <li>
                    <a href="{% url pdp.pages.views.home %}">Accueil</a>
                </li>
                {% block breadcrumb_base %}{% endblock %}
                {% block breadcrumb %}{% endblock %}
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="large-8 columns">
            <h1>{% block headline %}{% endblock %}</h1>
        </div>
        <div class="large-4 columns">
            <div class="headline-actions right">
                {% block headline-actions %}{% endblock %}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="large-12 columns">
            <h1>
                <small>
                    {% block headline-sub %}{% endblock %}
                </small>
            </h1>
            {% if messages %}
                {% for message in messages %}
                    <div data-alert class="alert-box {{ message.tags }}">
                        <span>{{ message }}</span>
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    {% block content %}{% endblock %}

    {# Footer #}

    <div class="row full-width footer">
        <div class="large-4 columns">
            <p>&copy; Progdupeupl 2013</p>
        </div>
        <div class="large-8 columns">
            <ul class="inline-list right">
                <li><a href="http://smoothirc.net/">SmoothIRC</a></li>
                <li><a href="https://twitter.com/Progdupeupl">Twitter</a></li>
                <li><a href="https://bitbucket.org/MicroJoe/progdupeupl">Bitbucket</a></li>
                <li><a href="https://www.djangoproject.com/">Django {{ django_version }}</a></li>
                <li><a href="http://www.python.org/">Python {{ python_version }}</a></li>
            </ul>
        </div>
    </div>

    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/foundation.min.js" %}"></script>

    <script>
        $(document).foundation('topbar dropdown tooltip alerts', {
            custom_back_text: true,
            back_text: 'Précédent'
        });
    </script>

    {# MathJax #}

    <script type="text/x-mathjax-config">
        MathJax.Hub.Config({
            tex2jax: {
                inlineMath: [['$', '$'], ['\\(', '\\)']],
                processEscapes: true,
            },
            messageStyle: "none",
        });
    </script>
    <script type="text/javascript" src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

    {# Google Analytics #}

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ GOOGLE_ANALYTICS_KEY }}']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

    {% block additionnal-js %}{% endblock %}

</body>
</html>
