{% extends "base.html" %}

{% block menu_home %}
class="active"
{% endblock %}

{% load staticfiles %}

{# Titles #}

{% block title %}
    Accueil
{% endblock %}

{% block meta %}
    <meta name="description" content="Bienvenue sur Progdupeupl, une communauté
    de passionnés d'informatique et notamment de programmation. Ce site permet
    non seulement de se former à la programmation, mais également de discuter
    entre membres pour progresser, découvrir des astuces, partager, aider, en
    bref : échanger de façon utile sur le monde de l'informatique." />
{% endblock %}

{% block headline %}
    Bonjour o/
{% endblock %}

{% block header %}
    <h1>Bienvenue</h1>
    <p>
        Bienvenue sur Progdupeupl, <strong>une communauté de passionnés
        d'informatique</strong> et notamment de programmation. Ce site permet
        non seulement de se former à la programmation, mais également de discuter
        entre membres pour progresser, découvrir des astuces, partager, aider, en
        bref : échanger de façon utile sur le monde de l'informatique.
    </p>
{% endblock %}

{# Content #}

{% block content %}
<div class="row">
    <div class="large-12 columns">

    </div>
</div>

<div class="row">
    {# Articles #}
    <div class="large-4 columns">
        <h2>
            <a href="{% url pdp.article.views.index %}">
                Articles
            </a>
        </h2>

        {% if last_articles %}
            {% for article in last_articles %}
                {% include "article/article_item_common.part.html" %}
            {% endfor %}
        {% else %}
            <p>Pas d'articles pour l'instant.</p>
        {% endif %}
    </div>

    <div class="large-4 columns">
        <h2>
            <a href="{% url pdp.tutorial.views.index %}">
                Tutoriels
            </a>
        </h2>

        {% if last_tutorials %}
            {% for tutorial in last_tutorials %}
                {% include "tutorial/tutorial_item_common.part.html" %}
            {% endfor %}
        {% else %}
            <p>Aucun tutoriel actuellement.</p>
        {% endif %}
    </div>
    <div class="large-4 columns">
        <h2>
            <a href="{% url pdp.forum.views.index %}">
                Forums
            </a>
        </h2>

        {% if last_topics %}
            {% for topic in last_topics %}
                {% include "forum/topic_item_common.part.html" %}
            {% endfor %}
        {% else %}
            <p>Aucun sujet récent.</p>
        {% endif %}
    </div>
</div>
<div class="row hide-for-small">
    <div class="large-4 columns">
        <div class="button-group">
            <a href="{% url pdp.article.views.index %}" class="button">
                Aller aux articles
            </a>
            <a href="#" class="button secondary dropdown" data-dropdown="articles-drop-feeds">
                Flux
            </a><br />
            <ul id="articles-drop-feeds" class="f-dropdown">
                <li><a href="{% url article-feed-rss %}">RSS</a></li>
                <li><a href="{% url article-feed-atom %}">ATOM</a></li>
            </ul>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="button-group">
            <a href="{% url pdp.tutorial.views.index %}" class="button">
                Aller aux tutoriels
            </a>
            <a href="#" class="button secondary dropdown" data-dropdown="tutorials-drop-feeds">
                Flux
            </a><br />
            <ul id="tutorials-drop-feeds" class="f-dropdown">
                <li><a href="{% url tutorial-feed-rss %}">RSS</a></li>
                <li><a href="{% url tutorial-feed-atom %}">ATOM</a></li>
            </ul>
        </div>
    </div>
    <div class="large-4 columns">
        <div class="button-group full-width">
            <a href="{% url pdp.forum.views.index %}" class="button">
                Aller aux forums
            </a>
        </div>
    </div>
</div>

{% endblock %}
