{% extends "article/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Éditer
{% endblock %}

{% block headline %}
    Éditer l'article
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></li>
    <li class="current"><a href="#">Éditer</a></li>
{% endblock %}

{% block content %}

{% if article.is_visible %}
    <div class="row">
        <div class="large-12 columns">
            <div class="alert-box warning">
                <strong>Cet article est actuellement en ligne !</strong> Veuillez être particulièrement prudent au niveau des changements que vous apportez à celui-ci.
                Vous pouvez modifier la forme de celui-ci, mais évitez d'en modifier le fond !
            </div>
        </div>
    </div>
{% endif %}

<div class="row">
    <div class="large-12 columns">
        {% crispy form %}
    </div>
</div>

{% endblock %}
