<ul class="button-group">
    <li><a href="{% url article-feed-rss %}" class="tiny button secondary">RSS</a></li>
    <li><a href="{% url article-feed-atom %}" class="tiny button secondary">ATOM</a></li>
</ul>