{% extends "article/base.html" %}

{% block title %}
    Liste des articles
{% endblock %}

{% block meta %}
    <meta name="description" content="Les articles sont rédigés par la
    communauté ; ils permettent aussi bien de se tenir informé des dernières
    innovations du moment que de découvrir de nouvelles notions liées aux
    différents domaines de l'informatique." />
{% endblock %}

{% block header %}
    <h1>Articles</h1>
    <p>
        Les articles sont rédigés par la communauté ; ils permettent aussi bien de <strong>se tenir informé des dernières innovations</strong> du moment
        que de <strong>découvrir de nouvelles notions</strong> liées aux différents domaines de l'informatique.
    </p>
{% endblock %}

{% block headline %}
    Liste des articles
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Index</a></li>
{% endblock %}

{% block headline-actions %}
    <div class="button-group">

        <a href="#" class="button secondary dropdown" data-dropdown="articles-drop-feeds">
            Flux
        </a><br />
        <ul id="articles-drop-feeds" class="f-dropdown">
            <li><a href="{% url article-feed-rss %}">RSS</a></li>
            <li><a href="{% url article-feed-atom %}">ATOM</a></li>
        </ul>

        {% if user.is_authenticated %}
            <a href="{% url pdp.article.views.new %}" class="button">
                Nouvel article
            </a>
        {% endif %}

    </div>
{% endblock %}

{% block content %}

<div class="row">
    <div class="large-6 columns">
        <h2>À la une</h2>
        {% if articles %}
            <div class="article-items">
            {% for article in articles %}
                {% include "article/article_item_common.part.html" %}
            {% endfor %}
            </div>
        {% else %}
            <p>Aucun article disponible.</p>
        {% endif %}
    </div>
    <div class="large-6 columns">
        {% if user.is_authenticated %}
            <h2>Vos articles</h2>
            {% if not user_articles %}
                <p>Vous n'avez pas encore rédigé d'article.</P>
            {% else %}
                <div class="article-items">
                    {% for article in user_articles %}
                        {% include "article/article_item_common.part.html" %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}
    </div>
</div>



{% endblock %}
