{% extends "article/base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    Nouveau
{% endblock %}

{% block headline %}
    Nouvel article
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">Nouvel article</a></li>
{% endblock %}

{% block content %}
    
<div class="row">
    <div class="large-12 columns">
        {% crispy form %}
    </div>
</div>

{% endblock %}
