{% extends "article/base.html" %}
{% load emarkdown %}
{% load markup %}
{% load humane_date %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block headline %}
    <a href="{{ article.get_absolute_url }}">{{ article.title }}</a><br />
    <small>{{ article.description }}</small>
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ article.title }}</a></li>
{% endblock %}

{% block headline-actions %}
    {% ifequal user article.author %}
        <form action="{% url pdp.article.views.modify %}" method="POST">
            <div class="button-group">
                <a href="/articles/editer?article={{ article.pk }}" class="button">
                    <i class="icon-pencil"></i>
                    Éditer
                </a>
                <button type="submit" name="delete" class="button secondary">
                    <i class="icon-remove"></i>
                    Supprimer
                </button>
            </div>
        
            <input type="hidden" name="article" value="{{ article.pk }}" />
            {% csrf_token %}
        </form>
    {% endifequal %}
{% endblock %}

{% block content %}

{% if article.is_visible %}
    {% include "article/view_pager.part.html" %}
{% endif %}

<div class="row">
    <div class="large-12 columns">
        <p>
            Rédigé par
            {% with member=article.author %}
                {% include "member/member_item_common.part.html" %}
            {% endwith %}
            et publié
            {{ article.pubdate|humane_date }}.
        </p>
        
        {{ article.text|emarkdown }}        
    </div>
</div>

{% if article.is_visible %}
    {% include "article/view_pager.part.html" %}
{% else %}
    <p>
        Cet article n'a pas encore été mis en ligne.
    </p>
{% endif %}

{% endblock %}
