{% extends "base.html" %}

{% block title_base %}
    &#183; Forums
{% endblock %}

{% block breadcrumb_base %}
    <li><a href="{% url pdp.forum.views.index %}">Forums</a></li>
{% endblock %}

{% block menu_forum %}
    class="active"
{% endblock %}
