{% extends "forum/base.html" %}

{% block title %}
    {{ category.title }}
{% endblock %}

{% block headline %}
    {{ category.title }}
{% endblock %}

{% block breadcrumb %}
    <li class="current"><a href="#">{{ category.title }}</a></li>
{% endblock %}

{% block content %}
    
{% include "forum/forums_common.html" %}

{% endblock %}
