{% extends "forum/base.html" %}

{% block title %}
    Liste des forums
{% endblock %}

{% block meta %}
    <meta name="description" content="Les forums vous permettent de venir poser
    vos questions aux autres membres mais aussi de s'entrainer ou tout
    simplement de discuter.  Cela fonctionne également dans l'autre sens : vous
    pouvez ici aider les autres et proposer des exercices au reste de la
    communauté." />
{% endblock %}

{% block header %}
    <h1>Forums</h1>
    <p>
        Les forums vous permettent de venir poser vos questions aux autres membres mais aussi de s'entrainer ou <strong>tout simplement de discuter</strong>.
        Cela fonctionne également dans l'autre sens : vous pouvez ici aider les autres et proposer des exercices au reste de la communauté.
    </p>
{% endblock %}

{% block headline %}
   Liste des forums
{% endblock %}

{% block breadcrumb %}
    <a class="current" href="#">Index</a>
{% endblock %}

{% block content %}

{% for category in categories %}
    <div class="row">
        <div class="large-12 columns">
            <h2>
                {{ category.title }}
            </h2>
        </div>
    </div>
    {% include "forum/forums_common.html" %}
{% endfor %}

{% endblock %}
