{% extends "forum/base.html" %}
{% load emarkdown %}
{% load markup %}

{% block title %}
    Nouveau sujet
{% endblock %}

{% block headline %}
    Nouveau sujet
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ forum.category.get_absolute_url }}">{{ forum.category.title }}</a></li>
    <li><a href="{{ forum.get_absolute_url }}">{{ forum.title }}</a></li>
    <li class="current"><a href="#">Nouveau sujet</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="large-12 columns">
        <form action="" method="POST">
            <input type="text" placeholder="Titre" name="title" class="input-xxlarge" value="{{ title }}" /><br />
            <input type="text" placeholder="Sous-titre" name="subtitle" class="input-xxlarge" value="{{ subtitle }}" /><br />
            <textarea class="input-block-level" rows="20" name="text" id="id_text"
                placeholder="Contenu de votre message au format Markdown.">{{ text }}</textarea>

            <div style="text-align: center;">
                <button type="submit" class="button">
                    <i class="icon-plus icon-white"></i>
                    Nouveau sujet
                </button>

                <button type="submit" name="preview" class="button secondary">
                    Prévisualisation
                </button>

                <a href="{{ forum.get_absolute_url }}" class="button secondary">
                    Retour
                </a>
            </div>

            {% csrf_token %}
        </form>
    </div>
</div>

{% if text %}
<div class="row">
    <div class="large-12 columns">
        <div class="panel">
            <h5>Prévisualisation de votre message</h5>
            {{ text|emarkdown }}
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
