{% extends "forum/base.html" %}
{% load emarkdown %}
{% load markup %}
{% load humane_date %}
{% load profile %}

{% block title %}
    {{ topic.title }}
{% endblock %}

{% block headline %}
    <a href="{{ topic.get_absolute_url }}">
        {{ topic.title }}
    </a>
{% endblock %}

{% block headline-sub %}
    {{ topic.subtitle }}
{% endblock %}

{% block breadcrumb %}
    <li><a href="{{ topic.forum.category.get_absolute_url }}">{{ topic.forum.category.title }}</a></li>
    <li><a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum.title }}</a></li>
    <li class="current"><a href="#">{{ topic.title }}</a></li>
{% endblock %}

{% block headline-actions %}
    {% if user.is_authenticated %}
        <form action="{% url pdp.forum.views.edit %}" method="POST" class="topic-actions">
            <input type="hidden" name="topic" value="{{ topic.pk }}" />
            <div class="button-group">
                <a href="/forums/sujet/nouveau?forum={{ topic.forum.pk }}" class="button">
                    Nouveau
                </a>
                {% if topic.author.pk == user.pk %}
                <button type="submit" name="solved" class="button {% if topic.is_solved %}success{% else %}secondary{% endif %}">
                    {% if topic.is_solved %}
                        Résolu
                    {% else %}
                        Résolu ?
                    {% endif %}
                </button>
                {% endif %}
                <button class="button {% if not topic.is_followed %}secondary{% endif %}" type="submit" name="follow">
                    <i class="{% if topic.is_followed %}icon-white{% endif %} icon-star"></i>
                    {% if topic.is_followed %}
                        Suivi
                    {% else %}
                        Suivre
                    {% endif %}
                </button>
            </div>

            {% csrf_token %}
        </form>

        {% if user.is_staff %}
            <form action="{% url pdp.forum.views.edit %}" method="POST" class="topic-actions">
                <input type="hidden" name="topic" value="{{ topic.pk }}" />

                <div class="button-group">
                    {# Button to make the thread a post-it #}
                    <button type="submit" name="sticky"
                        class="button {% if not topic.is_sticky %}secondary{% endif %}">
                        Post-it
                    </button>
                    {# Button to lock the thread #}
                    <button type="submit" name="lock" class="button {% if not topic.is_locked %}secondary{% endif %}">
                        Verrouill{% if topic.is_locked %}é{% else %}er{% endif %}
                    </button>
                </div>

                {% csrf_token %}
            </form>
        {% endif %}
    {% endif %}
{% endblock %}

{% block content %}

{% if topic.is_solved %}
<div class="row">
    <div class="large-12">
        <div class="alert-box success">
            <strong>Ce sujet est résolu</strong>, l'auteur de ce sujet a trouvé une
            solution satisfaisant son problème.
        </div>
    </div>
</div>
{% endif %}

{% include "forum/topic_pagination.part.html" %}


{% for post in posts %}
    <div class="post {% if forloop.first and nb > 1 %}before{% endif %}">
        <div class="row post-head" id="p{{ post.id }}">
            <div class="large-2 columns">
                <p>
                    <a href="{{ post.author.get_absolute_url }}">
                        {{ post.author.username }}
                    </a>
                </p>
            </div>
            <div class="large-10 columns">
                <div class="right">
                    {% if user.is_authenticated %}
                        <div class="button-group">
                            {% if topic.author == user and post.author != user %}
                                <a href="/forums/message/utile?message={{ post.pk }}" class="button secondary small {% if post.is_useful %}btn-success{% endif %}">
                                    Cette réponse m'a aidé
                                </a>
                            {% endif %}

                            {% if post.author == user %}
                                <a href="/forums/message/editer?message={{ post.pk }}" class="button secondary small">
                                    Éditer
                                </a>
                            {% endif %}

                            {% if not topic.is_locked and not topic.antispam %}
                                <a href="/forums/message/nouveau?sujet={{ topic.pk }}&amp;cite={{ post.pk }}"
                                    class="button secondary small">
                                    Citer
                                </a>
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                <p>
                    <a href="#p{{ post.pk }}">#</a>
                    {{ post.pubdate|humane_date }}
                    {% if not post.update = None %}
                        (dernière édition {{ post.update|humane_date }})
                    {% endif %}
                    {% if forloop.first and nb > 1 %}
                        &ndash; page précédente
                    {% endif %}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="large-2 columns hide-for-small">
                {% with profile=post.author|profile %}
                    <img src="{{ profile.get_avatar_url }}" width="80" height="80" alt="Avatar" />
                {% endwith %}
            </div>
            <div class="large-10 columns">
                {{ post.text|emarkdown }}
            </div>
        </div>
    </div>
{% endfor %}

{% include "forum/topic_pagination.part.html" %}

{% if user.is_authenticated %}
<div class="row">
    <div class="large-8 large-offset-2 columns">
        <form action="{% url pdp.forum.views.answer %}?sujet={{ topic.pk }}" method="POST">
            <textarea name="text" rows="10" {% if topic.is_locked or topic.antispam %}disabled{% endif %}
                placeholder="Votre message au format Markdown.">{% spaceless %}
                    {% if topic.is_locked %}
                        Ce sujet est verrouillé.
                    {% elif topic.antispam  %}
                        Vous ne pouvez pas encore poster dans ce sujet (protection antispam de 15 min).
                    {% endif %}
                {% endspaceless %}</textarea>

            <div style="text-align: center;">
                <button class="button btn-primary" type="submit" {% if topic.is_locked or topic.antispam %}disabled{% endif %}>
                    Répondre
                </button>
                <button type="submit" name="more"
                    class="button secondary" {% if topic.is_locked or topic.antispam %}disabled{% endif %}>
                    Plus d'options
                </button>
            </div>

            <input type="hidden" name="last_post" value="{{ last_post_pk }}" />
            {% csrf_token %}
        </form>
    </div>
</div>
{% endif %}

{% endblock %}
